.rani{
    width: 450px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 38px;
    color: #333333;
    font-size: 14px;
    background: #0996af;
    margin:  auto;
  }
  
  
  .errormessage{
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  li{
      color:white;
      background-color: yellow;
     
  }
  
  
  h1{
      font-size: 18px;
      color:red;
      text-align: center;
      margin:auto;
  }

  .jancy{
      color:green;
  }

  .info{
    border-radius: 5px;
    line-height: 38px;

      background-color:rgb(4, 43, 10);
      color:rgb(183, 228, 225);
      margin:auto;
      width: 500px;
  }
  td{
      color:black;
      background-color: white;
      text-align: center;
      border-radius: 5px;
      line-height: 38px;
  }
  th{
      background-color: rgb(18, 15, 201);
      background-size: cover;
      border-radius: 5px;
      line-height: 38px;
      margin:auto;
      width: 400px;
      text-align: center;
  
  }
  