.styling{
    /* width: 40%;
    margin:auto; */
    width: 450px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 38px;
    color: #2a0ea7;
    font-size: 14px;
    background: #0bc7e0;
    margin:  auto;

}
.text{
    color:antiquewhite;
    text-shadow: 2px 2px 5px red;


}

.label{
    font-size: 20px;
    color:cornsilk;
    text-shadow: 2px 2px 5px red;
text-decoration: dotted;
letter-spacing: 2px;

}


@media screen and (max-width: 900px) {

      .label{
        font-size: 20px;  
    color: crimson;
    text-shadow: 2px 2px 5px red;
    letter-spacing: 3px;

    }
   
}

@media screen and (max-width: 700px) {

    .label{
      font-size: 17px;  
  color: rgb(37, 204, 15);
  text-shadow: 2px 2px 5px red;
  letter-spacing: 4px;


  }
 
}

@media screen and (max-width: 600px) {

    .label{
      font-size: 15px;  
  color: rgb(233, 14, 204);
  letter-spacing: 5px;

  }
 
}



