 .jancy {
    width: 450px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 38px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin:  auto;
  }
  
  
  .errormessage{
    color: #cc0000;
    margin-bottom: 12px;
  }
  

  li{
      color:white;
      background-color: yellow;
     
  }
  
  
  h1{
      font-size: 18px;
      color:red;
      text-align: center;
      margin:auto;
  }

  .jancy{
      color:green;
  }

  .info{
    border-radius: 5px;
    line-height: 38px;

      background-color:green;
      color:blue;
      margin:auto;
      width: 400px;
  }
  td{
      color:black;
      background-color: white;
      text-align: center;
      border-radius: 5px;
      line-height: 38px;
  }
  th{
      background-color: rgb(231, 8, 83);
      background-size: cover;
      border-radius: 5px;
      line-height: 38px;
      margin:auto;
      width: 400px;
      text-align: center;
  
  }
  